<template name="aboutMeRoute">
  <div class="project-container">
    <div class="project meta">
      <h2 class="show-on-small">Über mich</h2>
      <h2 class="show-on-large">Über mich</h2>
      <img src="http://elias-kuiter.de/i/ich.jpg" alt="Elias Kuiter" width="120" class="about-me-image">
      <p>
        Mein Name ist Elias Kuiter und ich programmiere u.a. <a href="/websites">Websites</a> und <a href="/apps">Apps</a>
        für Firmen, aber auch einige Open-Source-Projekte wie den <a href="/apps/uvr2web">Heizungs-Datenlogger uvr2web</a>.
      </p>
      <p>
        Ich bin 19 Jahre alt und habe 2015 mein Abitur am <a href="http://leoninum.org" target="_blank">Gymnasium Leoninum Handrup</a>
        gemacht. Jetzt studiere ich Informatik an der <a href="http://www.ovgu.de" target="_blank">OvGU Magdeburg</a>.
      </p>
      <p>
        Neben der Web- und App-Entwicklung beschäftige ich mich u.a. mit Mikrocontrollern wie dem Arduino und
        Betriebssystem-Programmierung. In meiner Freizeit spiele ich gerne Klavier und entwerfe (mehr oder weniger sinnvolle)
        MIDI-Ansteuerungen für <a href="http://www.kawai.de/cn14.htm" target="_blank">mein Digitalpiano</a>.
      </p>
      <h3>Technologien</h3>
      <p>
        Für die Realisierung der hier vorgestellten Webseiten und Apps verwende ich vor allem die folgenden
        Programmiersprachen und Frameworks:
      </p>
      <ul>
        <li>Webdesign mit HTML, CSS, JavaScript (auch <em>responsive</em>)</li>
        <li>Content Management mit <a href="http://wordpress.org" target="_blank">WordPress</a></li>
        <li>individuelle Datenbank-Lösungen mit <a href="http://php.net" target="_blank">PHP</a>,
          <a href="http://rubyonrails.org" target="_blank">Ruby on Rails</a> und <a href="http://meteor.com" target="_blank">Meteor</a></li>
      </ul>
      <p>
        Außerdem nutze ich Java für Android-, C# für Windows- und C/C++ für Mikrocontroller-Programmierung.
      </p>
      <h3>Kontakt</h3>
      <p><em>Haben Sie Interesse an meinen Projekten oder eine Frage?</em></p>
      <p><em>Senden Sie mir Ihre Nachricht einfach an <a href="mailto:info@elias-kuiter.de">info@elias-kuiter.de</a>.</em></p>
    </div>
  </div>
</template>