<template name="aboutMeRoute">
  <div class="project-container">
    <div class="project meta">
      <style>
        td { padding: 2px 8px; }
        td:first-child { text-align: right; }
        h3 { margin-top: 0.8em !important; }
      </style>
      <h2 class="show-on-small">Über mich</h2>
      <h2 class="show-on-large">Über mich</h2>
      <img src="http://elias-kuiter.de/i/ich.jpg" alt="Elias Kuiter" width="120" class="about-me-image">
      <p>
        Mein Name ist Elias Kuiter und ich programmiere u.a. <a href="/websites">Websites</a> und <a href="/apps">Apps</a>
        für Firmen, aber auch einige Open-Source-Projekte wie den <a href="/apps/uvr2web">Heizungs-Datenlogger uvr2web</a>.
      </p>
      <p>
        Ich bin 21 Jahre alt und studiere Informatik an der <a href="http://www.ovgu.de" target="_blank">OvGU Magdeburg</a>.
      </p>
      <p>
        Neben der Web- und App-Entwicklung beschäftige ich mich u.a. mit
        Mikrocontrollern wie dem Arduino und Betriebssystem-Programmierung. In
        meiner Freizeit spiele ich gerne <a href="/piano"
        target="_self">Klavier</a> und entwerfe (mehr oder weniger sinnvolle)
        MIDI-Ansteuerungen für mein Digitalpiano.
      </p>
      <h3>Vita</h3>
      <table>
        <tr><td>2015</td><td>Abitur am Gymnasium Leoninum Handrup</td></tr>
        <tr><td>ab 2015</td><td>Informatik-Studium an der Otto-von-Guericke-Universität Magdeburg</td></tr>
        <tr><td>WS 2017/18</td><td>HiWi: Tutorien und Korrektur in der Lehrveranstaltung <em>Theoretische Informatik</em></td></tr>
        <tr><td>SS 2018</td><td>HiWi: Softwareentwicklung im Bereich <em>Software-Produktlinien</em></td></tr>
      </table>
      <h3>Publikationen</h3>
      <ul style="list-style-position: outside; font-size: 14px;">
        <li>
          Elias Kuiter, Jacob Krüger, Sebastian Krieter, Thomas Leich, and
          Gunter Saake. <a href="/splc18-uvr2web" target="_blank">Getting
          Rid of Clone-And-Own: Moving To A Software Product Line for
          Temperature Monitoring</a>. In <em>International Systems and Software
          Product Line Conference</em>, SPLC. ACM, September 2018. Accepted.
        </li>
        <li>
          Elias Kuiter, Sebastian Krieter, Jacob Krüger, Kai Ludwig, Thomas
          Leich, and Gunter Saake. <a href="/splc18-pclocator" target="_blank">
          PCLocator: A Tool Suite to Automatically Identify
          Configurations for Code Locations</a>. In <em>International Systems
          and Software Product Line Conference</em>, SPLC. ACM, September 2018.
          Accepted.
        </li>
      </ul>
      <h3>Technologien</h3>
      <p>
        Für die Realisierung der hier vorgestellten Webseiten und Apps verwende ich vor allem die folgenden
        Programmiersprachen und Frameworks:
      </p>
      <ul>
        <li>Webdesign mit HTML, CSS, JavaScript (auch <em>responsive</em>)</li>
        <li>Content Management mit <a href="http://wordpress.org" target="_blank">WordPress</a></li>
        <li>individuelle Datenbank-Lösungen mit <a href="http://php.net" target="_blank">PHP</a>,
          <a href="http://rubyonrails.org" target="_blank">Ruby on Rails</a>
          und <a href="https://nodejs.org/" target="_blank">Node.js</a></li>
      </ul>
      <p>
        Außerdem nutze ich Java für Android-, C# für Windows- und C/C++ für Mikrocontroller-Programmierung.
      </p>
      <h3>Kontakt</h3>
      <p><em>Haben Sie Interesse an meinen Projekten oder eine Frage?</em></p>
      <p><em>Senden Sie mir Ihre Nachricht einfach an <a href="mailto:info@elias-kuiter.de">info@elias-kuiter.de</a>.</em></p>
    </div>
  </div>
</template>
