<template name="categoryView">
  {{#if hasCategorySlug}}
    {{> separator}}
    {{#if Template.subscriptionsReady}}
      <div class="projects">
        {{#each category.projects}}
          <div class="item {{size}} {{active}}">
            {{> project}}
          </div>
        {{/each}}
      </div>
      {{#unless isCategoryRoute}}
        {{> separator}}
      {{/unless}}
    {{else}}
      {{> loading}}
    {{/if}}
  {{/if}}
</template>

<template name="project">
  <a href="/{{categorySlug}}/{{slug}}" class="no-underline">
    <img src="{{imageUrl}}" alt="{{title}}" />
    <h2>{{title}}</h2>
  </a>
</template>

<template name="separator">
  <div class="separator">
    <div></div>
  </div>
</template>