<template name="homeRoute">
<p>&nbsp;</p>
<nav>
  <ul class="projects fade-in footer-actions">
    <li class="item small action">
      <a href="https://github.com/ekuiter" class="no-underline" target="_blank">
      {{> githubLogo}}
      </a>
    </li>
    <li class="item small action">
      <a href="https://youtube.com/ekuiter" class="no-underline" target="_blank">
      {{> youtubeLogo}}
      </a>
    </li>
    <li class="item small">
      <a href="/piano" class="no-underline" target="_self">
      <h2>♫ Klaviernoten ➔</h2>
      </a>
    </li>
  </ul>
</nav>
</template>