<template name="projectRoute">
  <div class="project-container">
    <div class="project {{columns}}">
      <h2 class="show-on-small">{{longOrShortTitle}}</h2>
      <ul class="images">
        {{#each images}}
          <li class="{{active imageNumber}}">
            <a href="{{projectPath imageNumber}}">
              <img src="{{imageUrl}}" alt="{{../title}}" />
            </a>
          </li>
        {{/each}}
      </ul>
      <h2 class="show-on-large">{{longOrShortTitle}}</h2>
      <ul class="actions">
        {{#if hasImageNumber}}
          {{> action url=projectPath title="« Zurück"}}
        {{else}}
          {{#each actions}}
            {{> action title=title url=url target="_blank"}}
          {{/each}}
          {{#if githubRepository}}
            {{> githubAction title="Code ansehen"}}
          {{/if}}
        {{/if}}
      </ul>
      {{> yield "details"}}
    </div>
  </div>
</template>

<template name="action">
  <li class="action">
    <a href="{{url}}" class="no-underline" target={{target}}>
      <span>{{title}}</span>
    </a>
  </li>
</template>

<template name="githubAction">
  <li class="action">
    <a href="https://github.com/{{githubRepository}}" class="no-underline" target="_blank">
      {{> githubLogo}}
      <span>{{title}}</span>
    </a>
  </li>
</template>

<template name="projectDescription">
  {{{descriptionHtml}}}
</template>

<template name="projectImage">
  <div class="image">
    <a href="{{projectPath nextImageNumber}}">
      <img src="{{imageUrl}}" alt="{{title}}">
    </a>
  </div>
</template>