<template name="projectRoute">
  <div class="project-container">
    <div class="project {{columns}}">
      <h2 class="show-on-small">{{title}}</h2>
      <ul class="images">
        {{#each images}}
          <li class="{{active imageNumber}}">
            <a href="{{projectPath imageNumber}}">
              <img src="{{imageUrl}}" alt="{{../title}}" />
            </a>
          </li>
        {{/each}}
      </ul>
      <h2 class="show-on-large">{{title}}</h2>
      <ul class="actions">
        {{#if hasImageNumber}}
          <li class="action">
            <a href="{{projectPath}}" class="no-underline">
              <span>« Zurück</span>
            </a>
          </li>
        {{else}}
          {{#each actions}}
            <li class="action">
              <a href="{{url}}" class="no-underline" target="_blank">
                <span>{{title}}</span>
              </a>
            </li>
          {{/each}}
          {{#if githubRepository}}
            <li class="action">
              <a href="https://github.com/{{githubRepository}}" class="no-underline" target="_blank">
                {{> githubLogo}}
                <span>Code ansehen</span>
              </a>
            </li>
          {{/if}}
        {{/if}}
      </ul>
      {{> yield "details"}}
    </div>
  </div>
</template>

<template name="projectDescription">
  {{{descriptionHtml}}}
</template>

<template name="projectImage">
  <div class="image">
    <a href="{{projectPath nextImageNumber}}">
      <img src="{{imageUrl}}" alt="{{title}}">
    </a>
  </div>
</template>