// colors

$bgColor: #222;
$fgColor: #eee;
$accColor: #ffba3b;
$itemColor: lighten($bgColor, 8%);
$itemHoverColor: $accColor;
$actionColor: lighten($itemColor, 4%);
$actionHoverColor: $accColor;

// layout

$breakLarge: 1200px;
$breakMedium: 768px;
$breakSmall: 480px;

// categories / projects

$itemSize: 200px;
$itemFontSize: 16px;
$itemMargin: 8px;
$smallItemHeight: 50px;
$smallItemFactor: 0.75;

// project actions

$actionWidth: 225px;
$actionFontSize: 18px;
$actionMargin: 6px;
$smallActionHeight: 45px;
$smallActionFactor: 0.9;

//animations

$initDuration: 300ms;
$hoverDuration: 100ms;