@import "variables";
@import "mixins";
@import "items";

nav .categories {
  @extend .items;
  @include fadeInAnimation($initDuration);

  .item {
    @include circle($itemSize);

    @include media($breakMedium) {
      @include circle($itemSize * $smallItemFactor);
    }

    a {
      position: relative;

      .subtitle {
        position: absolute;
        bottom: 10%;
        left: 20%;
        width: 60%;
        text-align: center;
        line-height: 1.5;
        transition: opacity $initDuration * 0.5;
        font-size: $itemFontSize;
        opacity: 0;

        @include media($breakMedium) {
          font-size: $itemFontSize * $smallItemFactor;
        }
      }
    }

    &.large {
      &.animatable {
        @include rotateAnimation(-30deg, 0, $initDuration);
      }

      a {
        @include circle(100%);

        .subtitle {
          transition: font-size $initDuration, opacity $initDuration;
          opacity: 1;
        }
      }
    }
  }
}