@import "variables";
@import "mixins";

$footerHeight: 40px;

html, body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  margin: 0 auto (-$footerHeight);
}

footer, .push {
  height: $footerHeight;
}

footer {
  text-align: right;

  div {
    padding: 10px;
  }
}